<footer>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe molestias sapiente necessitatibus unde, mollitia dolore dolores nobis eligendi perspiciatis distinctio perferendis alias reprehenderit aliquid vel quae temporibus beatae. Iusto, consequuntur.</p>
</footer>